.hobbies .experience-item .bar {
  display: none;
}

.hobbies .experience-box h1 {
  margin-bottom: 0.4em;
  /* color: var(--accent); */
  font-size: 2.3em;
}

.hobbies .experience-box h1 svg {
  height: 0.85em;
  width: auto;
  margin-right: -0.3em;
}