*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
  scrollbar-width: thin;
  scrollbar-color: white black;
}

:root {
  font-size: 16px;
  color: white;
  background-color: rgb(10, 10, 16);
}

:root::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* stickers */
  /* background-image: url(./assets/photos/gd.webp);
  background-size: cover;
  z-index: -1;
  opacity: 0.09;
  filter: blur(0em) saturate(0.6) brightness(1); */

  background-image: url(./assets/photos/vancouver.webp);
  background-size: 100vw auto;
  background-position: center top;
  z-index: -1;
  opacity: 0.13;
  filter: blur(0.3em) saturate(1.3);
}

@media (max-aspect-ratio: 16/9) {
  :root::before {
    background-size: auto 100vh;
  }
}

:root, html, body, #root {
  min-height: 100%;
  width: 100%;
}

#root {
  padding: 9em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 1.6;
}

@media (min-aspect-ratio: 1.3/2) {
  :root {
    font-size: 1.5vh;
  }
}

@media (max-aspect-ratio: 1.3/1) {
  :root {
    font-size: 1.5vh;
  }
}

@media (max-aspect-ratio: 1.8/2) {
  :root {
    font-size: 1.5vh;
  }
}

@media (max-aspect-ratio: 1.3/2) {
  :root {
    font-size: 2.7vw;
  }
}
